@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');


html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body {
    width: 1440px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
}